<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:300px;
    float:left;
    padding:5px;        
}
#navright {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:150px;
    float:right;
    padding:5px;        
}

#section {
    width:350px;
    float:left;
    padding:10px;    
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;    
}
</style>
</head>
<body>

<div id="header">
<h1><%= @user.name %></h1>
</div>

<div id="nav">
  <strong>Email:</strong>
  <%= @user.email %><br>
  <p>
  <% if logged_in? && current_user == @user %>
  <strong>Friend Requests:</strong>
    <% @user.incomingrequests.each do |ele| %>
    <ul class="unstyled">
      <% if !@user.friends.include?(ele.from)%>
      <li>
        <%= ele.text %>
        <%= "from #{ele.getsender}" %>
        <%= link_to 'Accept', ele , method: :accept%> |
        <%= link_to 'Reject', ele , method: :delete%> <br>
      </li>
      <% end%>
    </ul>
    <% end %>
  <% end %>
</p><br>
</div>

<div id="navright">
  <strong>Friends:</strong>
  <p>
  <% if logged_in? && current_user == @user %>
    <% @user.friends.each do |ele| %>
    <ul class="unstyled">
      <li>
        <%= link_to "#{ele.name}", ele %>
      </li>
    </ul>
    <% end %>
  <% end %>
</p><br>
</div>

</html>
</body>
</html>

<p id="notice"><%= notice %></p>



<p>
  <strong>Status:</strong>
  <% @user.statuses.each do |ele| %>
  <p>
    <%= ele.text%>
    <% if logged_in? && current_user == @user %>
      <%= link_to 'edit', edit_status_path(ele) %> |
      <td>
        <%= link_to 'Destroy', ele, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td> |
    <% end %>
    <% unless ele.likes.include?(current_user)%>   
      <%= link_to 'Like', "/like/#{@user.id}/#{ele.id}", method: :post%>   
    <%end%>
    <% if ele.likes.include?(current_user)%>   
      <%= link_to 'Unlike', "/unlike/#{@user.id}/#{ele.id}", method: :post%> 
    <% end %>  
  <%= "#{ele.likes.length} likes" %>
  <% ele.followups.each do |extra| %>
    <li>    
      <%= extra.text%>
      <% if current_user.replies.include?(extra) || current_user == @user%>
        <%= link_to 'Delete', "/followup/#{ele.id}/delete/#{extra.id}", method: :delete, data: { confirm: 'Are you sure?' } %> 
      <%end%>
      <% unless extra.likes.include?(current_user)%>   
        <%= link_to 'Like', "/like/#{@user.id}/#{extra.id}", method: :post%>   
      <%end%>
      <% if extra.likes.include?(current_user)%>   
        <%= link_to 'Unlike', "/unlike/#{@user.id}/#{extra.id}", method: :post%> 
      <% end %>  
  <%= "#{extra.likes.length} likes" %>
    </li>
  <% end %>
  <p>
      <%= link_to 'Comment', "/followup/#{ele.id}", parent_id: 123 %> 
  </p>
    <% end %>
  </p>
</p>


  <% if logged_in? && current_user == @user %>
<%= link_to 'New Status', new_status_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy',  @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>

<%= link_to 'Back', users_path %>
