<!DOCTYPE html>
<html>
<head>
  <title>CIS 196 Homework 9</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
